.registro {
	background-color: #D6EAF8
}

.barra {
	color: #ffffff
}

.navegacion {
	background-color: #34495E 
}

.estudiante {
	color: #ffffff
}

.buscar {
	background-color: green
	color: #34495E
}

.aplicacion {
	background-color: #2E86C1
}

.panel {
	background-color: #34495E
}

.fondo {
	background-color: #1F618D
}